MotorRegSln/Web References/localhost/InsuranceServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckInsurance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plateOrChassis" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckInsuranceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckInsuranceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckInsuranceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckInsurance" />
  </wsdl:message>
  <wsdl:message name="CheckInsuranceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckInsuranceResponse" />
  </wsdl:message>
  <wsdl:portType name="InsuranceServicesSoap">
    <wsdl:operation name="CheckInsurance">
      <wsdl:input message="tns:CheckInsuranceSoapIn" />
      <wsdl:output message="tns:CheckInsuranceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsuranceServicesSoap" type="tns:InsuranceServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInsurance">
      <soap:operation soapAction="http://tempuri.org/CheckInsurance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InsuranceServicesSoap12" type="tns:InsuranceServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckInsurance">
      <soap12:operation soapAction="http://tempuri.org/CheckInsurance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsuranceServices">
    <wsdl:port name="InsuranceServicesSoap" binding="tns:InsuranceServicesSoap">
      <soap:address location="https://localhost:44331/InsuranceServices.asmx" />
    </wsdl:port>
    <wsdl:port name="InsuranceServicesSoap12" binding="tns:InsuranceServicesSoap12">
      <soap12:address location="https://localhost:44331/InsuranceServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>